<form name="propertyCreateForm">
    <div class="form-group">
        <label>Property Name</label>
        <input type="text" class="form-control" ng-model="newProperty.PropertyName" />
    </div>
    <div class="form-group">
        <label>Address Line 1</label>
        <input type="text" class="form-control" ng-model="newProperty.Address1" />
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" ng-model="newProperty.City" />
    </div>
    <div class="form-group">
        <label>Region</label>
        <input type="text" class="form-control" ng-model="newProperty.Region" />
    </div>
    <div class="form-group">
        <label>Post Code</label>
        <input type="text" class="form-control" ng-model="newProperty.PostCode" />
    </div>
    <div class="form-group">
        <label>International?</label>
        <input type="checkbox" class="form-control" ng-model="newProperty.International" />
    </div>
    <div class="form-group">
        <label>Number of Bedrooms</label>
        <input type="text" class="form-control" ng-model="newProperty.NumberOfBedrooms" />
    </div>
    <div class="form-group">
        <label>Number of Bathrooms</label>
        <input type="text" class="form-control" ng-model="newProperty.NumberOfBathrooms" />
    </div>
    <div class="form-group">
        <label>Number of Vehicles</label>
        <input type="text" class="form-control" ng-model="newProperty.NumberOfVehicles" />
    </div>
</form>

<div class="well clearfix">
    <button class="btn btn-success pull-right" ng-click="createProperty(newProperty)">Save</button>
</div>